.git
.gitignore
.github
.well-known
.user.ini
Dockerfile*
docker-compose*.yml
wp-config.php
wp-content/cache
wp-content/upgrade
wp-content/uploads
*.log
error_log
**/error_log
*.sql
*.sql.gz
*.gpg
*.zip
*.tar
*.tar.gz
bachvan
